<div class="jumbotron">
    <h1>Bench RestTest</h1>
    <p class="lead">This is the take-home assignment. Click below to see the assignment.</p>
    <p><a href="https://resttest.bench.co/" class="btn btn-primary btn-lg">VISIT BENCH &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>About the Assignment </h2>
        <p>This application Connects to a REST API and can return different values inside the JSON file based in the Repository folder.</p>
        <p>In addition, it is able to calculate running balances of all dates available inside JSON file.</p>
        
    </div>
    <div class="col-md-4">
        <h2>JSON File</h2>
        <p>Using JSON in navigation bar, you can get all data inside the JSON file.</p>
        
    </div>
    <div class="col-md-4">
        <h2>About Me!</h2>
        <p>My name is Aria and hold a M.S in Cybersecurity from New York Institute of Technology.</p>
        
    </div>
</div>
